#teaser-section {

    article {
        width: 70%;
        max-width: 1200px;
        margin: auto;
        padding: 1rem 0;
        color: #fff;

        p {
            color: #8fa7bf;
            font-size: 40px;
            text-align: center;
            font-style: italic;
        }
    }
}